@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');


@keyframes roda {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes colors {
  0%{
    filter: hue-rotate(0deg);
  }
  100%{
    filter: hue-rotate(360deg);
  }
}

*
{
  margin: 0;
  padding: 0;
  cursor: none;
}

body
{
  background: #14213D;
}

#nav{
  margin-top: 20%;
  margin-left: 60%;
  width: 40vw;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#cursor
{
  z-index: 20;
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FCA311;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  border: 2px solid black;
  pointer-events: none;
  animation: colors 5s infinite;
  box-shadow: 0 0 20px #FCA311
              0 0 60px #FCA311
              0 0 100px #FCA311;
}

#cursor::before{
  content: '';
  position: absolute;
  background: #FCA311;
  width: 50px;
  height: 50px;
  opacity: 0.2;
  transform: translate(-30%,-30%);
  border-radius: 50%;
}

ul
{
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: poppins;
}

ul li
{
  list-style: none;
}

ul li:before
{
  content: attr(data-text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 6em;
  font-weight: 700;
  pointer-events: none;
  opacity: 0;
  letter-spacing: 20px;
  transition: 0.5s;
  white-space: nowrap;
}

ul li:hover:before
{
  opacity: 0.5;
  letter-spacing: 0px;
}

ul li a
{
  position: relative;
  display: inline-block;
  padding: 6px 15px;
  text-decoration: none;
  background: #2196f3;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  overflow: hidden;
  z-index: 1;
}

ul:hover li a
{
  opacity: 0;
}

a
{
  width:100px;
}

ul li a:hover
{
  transform: scale(1.4);
  z-index: 2;
  background: #ff3f81;
  opacity: 1;
}

ul li a::before
{
  content: '';
  position: absolute;
  top: 0;
  left: -100px;
  width: 80px;
  height: 100%;
  background: linear-gradient(90deg, transparent,rgba(
  255, 255, 255,0.8), transparent);
  transform: skewX(35deg);
  transition: 0s;
}

ul li a:hover::before
{
  left: calc(100% + 100px);
  transition: 0.5s;
  transition-delay: 0.1s;
}

#back-cube
{
  margin-top: 15%;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  position: absolute;
  box-sizing: border-box;
  top: -80px;
  transform: skewY(-20deg);
  animation: colors 5s linear infinite;
  opacity: 0;
  visibility: hidden;
  
}

#back-cube #cube
{
  z-index: 8;
}

#back-cube #cube:nth-child(2)
{
  z-index: 7;
  translate: -60px -60px;
}

#back-cube #cube:nth-child(3)
{
  z-index: 9;
  translate: 60px 60px;
}

#back-cube #cube div
{
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 30px;
  translate: calc(-70px * var(--x)) calc(-60px * var(--y));
}

#back-cube #cube div span
{
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #dcdcdc;
  z-index: calc(1 *var(--i));
  transition: 1.5s;
}

#back-cube #cube div span:hover
{
  transition:0s;
  background: #FCA311;
  filter: drop-shadow(0 0 30px #fca311);
}

#back-cube #cube div span::before
{
  content: "";
  position: absolute;
  left: -40px;
  width: 40px;
  height: 100%;
  background: #fff;
  transform-origin: right;
  transform: skewY(45deg);
  transition: 1.5s;
}

#back-cube #cube div span:hover::before
{
  transition: 0s;
  background: #fca311;
  
}
#back-cube #cube div span::after
{
  content: "";
  position: absolute;
  top: -40px;
  left: 0px;
  width: 100%;
  height: 40px;
  background: #f2f2f2;
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: 1.5s;
}

#back-cube #cube div span:hover::after
{
  transition: 0s;
  background: #fca311;

}

#fecha-modal
{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "poppins";
  opacity: 0;
  visibility: hidden;
}

#about
{
  position: absolute;
  flex-direction: column;
  top: 40%;
  left: 10%;
  opacity: 0;
  visibility: hidden;
}
  
#start,
#title,
#text
{
  color: white;
}

#start,
#title
{
  font-family: 'aboreto', cursive;
}

#text
{
  font-family: 'poppins';
  width: 650px;
}

#title
{
  font-size: 30px;
}

#portfolio
{
  margin-top: -20%;
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 320;
  margin-left: 20px;
  font-family: 'poppins';
  text-align: center;
}

#fundo-1,
#fundo-2,
#fundo-3
{
  background: #394551;
  width: 300px;
  height: 320px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  z-index: -2;
  border-radius: 10px;
}

#fundo-1::after,
#fundo-2::after,
#fundo-3::after
{
  content: "";
  inset: 20px 17px;
  width: 100px;
  height: 590px;
  margin-left: -20%;
  background: #fca311;
  animation: roda 5s linear infinite , colors 1s linear infinite;
  z-index: -1;
}

#fundo-1 h3,
#fundo-2 h3,
#fundo-3 h3
{
  color: white;
  margin-top: 20px;
}

#projetos-1,
#projetos-2,
#projetos-3
{
  background: #394551;
  height: 300px;
  width: 260px;
  padding: 5px;
  z-index: 2;
  position: absolute;
  border: 1px solid white;
  border-radius: 10px;
}

#projetos-1 img,
#projetos-2 img,
#projetos-3 img
{
  border-radius: 10px;
  width: 260px;
  height: 150px;
  border: 1px solid #fca311;   
}

#acces
{
  flex-direction: row;
  display:flex;
  gap: 220px;
  height: 50px;
  width: 600px;
  margin-left: 8%;
}

#btn-acces-1,
#btn-acces-2,
#btn-acces-3
{
  font-family: 'poppins';
  margin-top: 20px;
  padding: 6px 15px;
  background: #2196f3;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 12%;
  flex-direction: row;
  
}

#btn-acces-1:hover,
#btn-acces-2:hover,
#btn-acces-3:hover
{
  transform: scale(1.4);
  background: #ff3f81;
}