/* Font-family: https://fonts.google.com/specimen/Sora?query=sora */
@font-face {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sora/v3/xMQbuFFYT72XzQspDqW1KX7wmA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sora/v3/xMQbuFFYT72XzQUpDqW1KX4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sora/v3/xMQbuFFYT72XzQspDqW1KX7wmA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sora/v3/xMQbuFFYT72XzQUpDqW1KX4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --white: #fff;
  --gray-100: #edf2f7;
  --gray-200: #e2e8f0;
  --gray-400: #a0aec0;
  --gray-500: #718096;
  --gray-700: #2d3748;
  --primary: #4763ff;
  --primary-light: #7086ff;
  --primary-dark: #1834cc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 16px;
  font-family: 'Sora', Helvetica, sans-serif;
}

body {
  background-color: var(--white);
  color: var(--gray-700);
}
