* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
  }
  
  body {
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em;
  }

  .modal-content{
    width: 125px;
    height: 130px;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 10px;
    margin-left: 80px;
  }
  .modal-content:hover{
    border: 1px solid cyan;
  }
  
  #calc {
    width: 400px;
    padding: 0.5em;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
  }
  
  #calc h3 {
    font-size: 0.8em;
    font-weight: 300;
    color: white;
  }

  #calc h3 button{
    color: white;
    margin-left: 110px;
    width: 30px;
    height: 30px;
    border: 2px solid transparent;
    background: red;
    text-align: center;
  }
  #calc h3 button:hover{
    border: 2px solid white;
  }
  
  #operations {
    text-align: right;
  }
  
  #previous-operation {
    color: #777;
    padding: 0.2em;
    overflow-wrap: break-word;
    min-height: 1.6em;
  }
  
  #current-operation {
    min-height: 1.6em;
    font-size: 3em;
    font-weight: 700;
    padding: 0.2em;
    overflow-wrap: break-word;
  }
  
  #buttons-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;
  }
  
  #buttons-container button {
    border: 1px solid transparent;
    border-radius: 0;
    height: 4em;
    font-size: 1.2em;
    background-color: #111111;
    cursor: pointer;
  }
  
  #buttons-container .number {
    background-color: #2c2c2c;
  }
  
  #buttons-container button:hover {
    background-color: #bababa;
    border-color: #999;
  }
  
  #buttons-container #equal-btn {
    grid-column: span 2;
    background-color: #510080;
  }
  
  #buttons-container #equal-btn:hover {
    grid-column: span 2;
    background-color: #da44ff;
  }

  #icon{
    width: 100px;
    height: 100px;
    cursor: pointer;
  }
